* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: sans-serif;
    background-color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
}



/* DEBUT TYPOGRAPHIE */


.h1,
.title-hero {
    font-size: 40px;
    font-family: Saira;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFF;
}

.h2 {
    font-size: 20px;
    font-family: Saira;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.h4 {
    color: #FFF;
    font-size: 12px;
    line-height: 20px;
}

.h2--white {
    color: #FFF;
}

.h2--black {
    color: #000000;
}


p {
    font-size: 16px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.p--white {
    color: #FFF;
}

.p--black {
    color: #000000;
}

a {
    text-decoration: none;
}

/* FIN TYPOGRAPHIE*/




.container {
    padding: 0 32px;
}

.d-flex {
    display: flex;
}

/* CARD */
.grid-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

/* CARD PRODUCT */
.img-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card figure {
    position: relative;
}

.like {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #ffffff;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    padding: 13px;
    cursor: pointer;

}

.like:hover {
    background-color: rgb(197, 64, 64);
}


.card-body {
    padding-top: 18px;
    color: #000;
    font-size: 16px;
    font-family: 'roboto';
    line-height: 20px;
}

.p--grey {
    color: #5F5F5F;
}

/* FIN CARD-PRODUCTS */
/* CARD STORY */
.card-1 {
    position: relative;

}

.card-story-body {
    position: absolute;
    bottom: 42px;
    left: 32px;
    z-index: 1;
    color: #FFF;
}

.card-story-body ul {
    margin-left: 16px;
}

.card-story-body img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-story-body p {
    margin: 3px 0 16px;
}

/* FIN CARD STORY */
/* FIN CARD */
/* DEBUT BTN */
.card-btn {
    padding: 3px;
    overflow: hidden;
    display: inline-flex;
}


.btn {
    position: relative;
    display: inline-flex;
    padding: 14px 8px;
    justify-content: center;
    align-items: center;
    border: none;
    color: #FFF;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 20px;
}

.btn::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    background: linear-gradient(to top, rgb(0, 255, 200), transparent);
    z-index: -1;
    transform-origin: left;
    animation: animate 3s linear infinite;
}

.btn::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    right: 50%;
    background: linear-gradient(to bottom, rgb(0, 255, 200), rgb(130, 228, 206), rgb(255, 255, 255));
    z-index: -1;
    transform-origin: right;
    animation: animate 3s linear infinite;
}

.btn:hover {
    color: #FFF;
    background-color: #1e9bff;
    box-shadow: 0 0 35px #1e9bff;
    letter-spacing: 0.20em;
}

.card-btn:hover {
    box-shadow: 0 0 35px #1e9bff;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn_s {
    width: 314px;
}

.btn_m {
    width: 424px;
}

.btn--black {
    background: #000;
}

.btn--transparent {
    outline: 1px solid #000;
    color: #000;
    background-color: #FFF;
}

.btn--transparent:hover {
    outline: none;
}


/* FIN BTN */


/* DEBUT HEADER */
.header {
    width: 100%;

    background-color: red;

}

.card-top {
    padding: 19px 0;
    align-items: center;
    justify-content: space-between;
}

.card-menu-l {
    align-items: center;
    gap: 16px;
}

.menu-1,
.menu-2 {
    align-items: center;
    gap: 9px;


}

.link-fav:hover {
    color: rgb(14, 107, 184);
}

.card-menu-r {
    align-items: center;
    gap: 19px;
}

.navbar {
    padding: 32px 0;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 18px;
    transform: translateX(-5%);
}

.nav a {
    font-size: 12px;
    font-family: Saira;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #FFF;
}

.nav a:hover {
    color: rgb(14, 107, 184);

}

.card_search {
    gap: 29px;
    align-items: center;
}

.search {
    border: 1px solid #FFF;
    padding: 9px 16px;
    gap: 10px;
}

.search input {
    background-color: transparent;
    border: none;
    color: #FFF;
    width: 130px;
    outline: none;
}

.search input::placeholder {
    color: #FFF;
}

/* FIN HEADER */
/* FOOTER */
footer {
    width: 100%;
    background-color: #000;
    padding: 68px 32px 95px;
}

footer ul {
    list-style: none;
}



.big-card-foot1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.card-foot {
    flex-direction: column;
}

.title-3-foot {
    font-size: 12px;
    font-family: 'Saira';
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #FFF;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.p--grey {
    color: #5F5F5F;
    line-height: 20px;

}

footer hr {
    color: #ffffff;
    opacity: 0.10000000149011612;
    background: #FFF;
    margin: 57px 0 36px;
}

.big-card-foot2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 41px 12px;
}



.newsletter {

    border: 1px solid rgba(255, 255, 255, 0.20000000298023224);
    width: 422px;
    height: 48px;
    align-items: center;
    padding: 0 15px;


}

.card-foot-2 {
    grid-column: span 2;
}

.newsletter input {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: #FFF;
    opacity: 1;
}

.newsletter button {
    height: 100%;
    padding: 0 20px;
    background-color: transparent;
    color: #FFF;
    font-size: 16px;
    font-family: Saira;
    font-weight: 500;
    line-height: 20px;
    border: none;
    cursor: pointer;
}

.card-foot--2 {
    grid-column: 3;
    grid-row: 2;
    flex-direction: column;

}

.card-foot--3 {
    grid-column: 4;
    grid-row: 2;
    flex-direction: column;

}


.newsletter button:hover,
.card-foot a:hover,
.card-foot--3 a:hover,
.card-foot--2 a:hover {
    color: rgb(14, 107, 184);
}

/* FIN FOOTER */